
@{
    var error = ViewBag.Error as string;
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <link href="~/Content/css/loginCss.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="navbar-header">
        <p class="navbar-brand"> APPS-GESTIÓN DOCUMENTAL</p>
    </div>
    <hr />
    <div class="container">
        <div class="card card-container">
            <div class="text-center mb-4 mt-3">
                <a href="#">
                    <span><img src="@Url.Content("~/Imagenes/EscudoAtenas.png")" alt="" height="150"></span>
                </a>
            </div>

            @if (!string.IsNullOrEmpty(error))
            {
                <div class="alert alert-danger" role="alert">
                    @error
                </div>
            }
            <form id="form">
                <div class="form-group">
                    <label for="correo"> </label>
                    <p class="register-link">Para comprobar su identidad, el sistema enviará un código de comprobación al correo registrado.</p>
                    <label for="correo">Ingrese su Correo Registrado</label>
                    <input class="form-control" id="inputCorreo" name="inputCorreo" type="email" autocomplete="off" />
                </div>
                <div class="mb-3 text-center">
                    <button id="btnGuardarCaso" type="button" class="btn btn-primary btn-block btn-signin" onclick="Guardar()">Enviar Código</button>

                </div>
            </form>
            <!-- Link para recuperar contraseña -->
            <div class="input-group">
                <p class="register-link">¿No tienes una cuenta? <a href="@Url.Content("~/Registros/CrearCuenta")">Regístrate aquí</a></p>

            </div>
        </div><!-- /card-container -->
        <div class="row mt-4">
            <div class="col-sm-12 text-center">
                <p class="text-white mb-0">
                    Todos los derechos reservados &copy;<a href="https://www.atenasmuni.go.cr" target="_blank" class="text-white ml-1">
                        <b>Tecnologías de Información -</b>
                        <b> Municipalidad Atenas</b>
                    </a>
                </p>
            </div>
        </div>
    </div><!-- /container -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Content/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/Complementos")
    @Scripts.Render("~/JQUERY_UI/Calendarios")
    @Scripts.Render("~/Content/tablas")
    @Scripts.Render("~/bundles/fullcalendar")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>

    <script src="@Url.Content("~/Scripts/Views/New_Password.js")" type="text/javascript"></script>

</body>

</html>


